extends layout.pug
block content
	link(rel="stylesheet" href="/stylesheets/index.css")
	div.darked
		img.mainphoto(src="/images/mountain09.png")
		p#welcome Welcome to my page
		button#mainbutton Click
	include task03.pug
	include video.pug