html
	meta(charset="utf-8")
	head
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
		title #{title}
		link(rel="stylesheet" href="/stylesheets/style.css")
		script(src="/javascripts/knopka.js")
		script(src="/javascripts/creatingTable.js")
		
	body
		block nav
			include nav-bar.pug
		block content