link(rel="stylesheet" href="/stylesheets/nav-bar.css")
nav
	a#nav-link1(href="/") Main
	a#nav-link2(target="new" href="https://www.youtube.com/") YouTube
	a#nav-link3(target="new" href="http://saudubna.ru/") SAU
	a#nav-link4(target="new" href="/tasks") Tasks
	form#searchform
		input#searchinput(type="text" placeholder="Искать здесь...")
		button#searchbutton(type="submit")