link(rel="stylesheet" href="/stylesheets/task03.css")
div.icons
    div(style="position:relative;display: inline-flex;left: 10rem;")
        div(style="align-items: center;justify-items: center;vertical-align:middle;align-content:center;position: relative;display:inline-flex;")
            p.desc01 Enter personal data
        img#icon01(src="/images/icon01.png")
    div(style="position:relative;display: inline-flex;margin-right:15rem;margin-left: auto;")
        div(style="align-items: center;justify-items: center;vertical-align:middle;align-content:center;position: relative;display:inline-flex;")
            p.desc01 Enter exam data
        img#icon02(src="/images/icon02.png")
form.mainform(name="form" id="mainform"  onsubmit="return createTable(event)")
    div.persForm
        div.form01
            div.sepDiv(style="margin-top:1rem;")
                p.anketaP Enter your full name
                input.fio(name="fio" required placeholder="Full name")
            div.sepDiv
                p.anketaP Select your course
                select.anketaSelect(name="course" required value="Course 1" style="")
                    option(value="Course 1") Course 1 
                    option(value="Course 2") Course 2 
                    option(value="Course 3") Course 3
                    option(value="Course 4") Course 4
            div.sepDiv
                p.anketaP(style="margin-right:2.5rem;") Select your fac
                select.anketaSelect(name="fac" required value="SAU")
                    option(value="SAU") SAU
                    option(value="FEIN") FEIN
                    option(value="I dont now anymore") I dont now anymore
                    option(value="I dont now anymore") I dont now anymore
            div.sepDiv
                p.anketaP(style="margin-left:3rem;") Enter your group number
                input.fio(name="group" required placeholder="Group num")
    div.examForm
        div.form01
            div.sepDiv
                p.anketaP Select your subject
                select.anketaSelect(name="sub" required value="IT")
                    option(value="IT") IT
                    option(value="Math") Math
                    option(value="Philosophy") Philosophy
                    option(value="English") English
            div.sepDiv
                p.anketaP(style="margin-right:1rem;") Enter your teacher
                input.fio(name="teacher" required placeholder="Teacher")
            div.sepDiv
                p.anketaP Select exam date
                select.anketaSelect(name="edate" required value="29.06.2020")
                    option(value="29.06.2020") 29.06.2020
                    option(value="1.06.2020") 1.06.2020
                    option(value="15.06.2020") 15.06.2020
                    option(value="10.06.2020") 10.06.2020
            div.sepDiv
                p.anketaP Select exam time
                select.anketaSelect(name="etime" required value="11 AM")
                    option(value="11 AM") 11 AM
                    option(value="9 AM") 9 AM
                    option(value="3 PM") 3 PM
                    option(value="5 PM") 5 PM
            div.sepDiv
                p.anketaP Select education form
                select.anketaSelect(name="eform" required value="Full-time")
                    option(value="Full-time") Full-time
                    option(value="Part-time") Part-time
    div.subButton
        button.ok(type="submit" href="" onmouseover="colorChange()" onmouseout="colorBack()" ) Send
div#tableDiv
    p(style="margin-left:auto;font-family: Raleway;font-weight:400;font-size:1.4rem;color:white;") Please, check your data
    table#t1
        tbody
            tr
                th(style="display:none;")
            tr
                td(style="color:rgb(127, 221, 166)") Full name:
                td
            tr
                td(style="color:rgb(127, 221, 166)") Course:
                td
            tr
                td(style="color:rgb(127, 221, 166)") Fac:
                td
            tr
                td(style="color:rgb(127, 221, 166)") Group num:
                td
            tr
                td(style="color:rgb(127, 221, 166)") Subject:
                td
            tr
                td(style="color:rgb(127, 221, 166)") Teacher:
                td
            tr
                td(style="color:rgb(127, 221, 166)") Date and time:
                td
            tr
                td(style="color:rgb(127, 221, 166)") Education form:
                td