script.
    let dt={name:"olya",status:"pisya"}
    let tmp=JSON.stringify(dt);
    console.log(tmp);
    fetch(
        "/api/echo",
        {
            method: "POST",
            body:tmp,
            headers: {
      'Content-Type': 'application/json'}
        }
    )
    .then(
        r => r.json()
    )
    .then(
        m => console.log(m)
    )
    .catch(
        ()=>console.log("уууууу")
    )

    let socket;
    function bb(){
    socket= new WebSocket("ws://localhost:3001");
        socket.onopen = function(e) {
        socket.send("Привет");
    }
    socket.onmessage = function(event) {
        alert(`[message] Данные получены с сервера: ${event.data}`);
    };
    socket.onclose = function(event) {
        if (event.wasClean) {
            alert(`[close] Соединение закрыто чисто, код=${event.code} причина=${event.reason}`);
        } else {
            // например, сервер убил процесс или сеть недоступна
            // обычно в этом случае event.code 1006
            alert('[close] Соединение прервано');
    socket.onerror = function(error) {
        alert(`[error] Pipec ${error.message}`);
        setTimeout(bb, 2000);
    };
    }
    bb();

};