link(rel="stylesheet" href="/stylesheets/video.css")
div.keepCalm
    p Keep Calm
div(style="position:relative;height:auto;weight:100%;")
    video.vid(autoplay loop muted="true" width="100%" height="auto")
            source(src="https://assets.mixkit.co/videos/preview/mixkit-guy-lit-by-projected-lights-2139-large.mp4" type="video/mp4")
    audio(controls loop autoplay style="margin-left:auto;")
        source(src="https://files.freemusicarchive.org/storage-freemusicarchive-org/music/ccCommunity/Ryan_Andersen/Pop_Music/Ryan_Andersen_-_07_-_Synthwave.mp3")