
.darked {
    background: #000;  /* У блока, оборачивающего картинку при наведении будет просвечивать черный фон */
    overflow: hidden;
    width:100%;height:400px;
    overflow:hidden;
    box-shadow: 0px 10px 40px rgba(0,0,0,0.6);
    display: block;
    animation-timing-function: linear; 
  
  }
  .mainphoto{
    position:relative;
    width: 100%;
    object-fit: cover;
    height: 400px;
    object-position: 50% 40%;
    opacity: 0.7;
    display: flex;
  }
  #welcome{
    position: relative;
    color: #eee;
    font-family: lobster regular;
    font-size: 7vw;
    display: flex;
    top: -70%;
    left: 20%;
    animation: move 2s infinite;
    animation-timing-function: linear; 
  }
  @keyframes move {
    from {text-shadow: 7px 7px 0px #F4B915;}
  
    50% {text-shadow: -7px -7px 0px rgb(21, 225, 244);}
  
    to { text-shadow: 7px 7px 0px #F4B915;}  
  }
  #mainbutton{
    position: absolute;
    background: rgb(255, 255, 255);
    border: none;
    height: 60px;
    width: 140px;
    top: 55%;
    left: 45%;
    border-radius: 5%;
    font-family: Raleway;
    font-size: 2rem;
    font-weight: 200;
    color:rgb(54,54,54);
    background-image: linear-gradient(to left,rgba(255,255,240,0.85),rgba(255,255,240,0.85) 50%,#9fdb1e 50%,#9fdb1e);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .25s ease-in;
  }
  #mainbutton:hover {
    background-position: 0 0;
    color:rgba(255,255,240,0.85);
    }