nav{
    display: flex;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: rgb(54,54,54);
    font-family: Raleway;
  }
  
  #nav-link1{
    display:inline-flex;
    margin-left:0.5rem;
    font-size:1.3em;
    color:rgba(255,255,240,0.7);
    
  }
  
  #nav-link1:hover{
    color:#e253d6c5 !important;
   
  }
  
  #nav-link2{
    display:inline-flex;
    margin-left:0.5rem;
    font-size:1.3em;
    color:rgba(255,255,240,0.7)
  }
  
  #nav-link2:hover{
    color: #ffb428c9 !important;
   
  }
  
  #nav-link3{
    display:inline-flex;
    margin-left:0.5rem;
  
    font-size:1.3em;
    color:rgba(255,255,240,0.7)
  }
  
  #nav-link3:hover{
    color:#f84d75d2 !important;
  }
  
  #nav-link4{
    display:inline-flex;
    margin-left:0.5rem;
    font-size:1.3em;
    color:rgba(255,255,240,0.7)
  }
  
  #nav-link4:hover{
    color:rgb(21, 225, 244) !important;
  }
  
  .pacman {
    margin-left: 0.5rem;
    width: 0; 
    height: 0;
    border-right: 25px solid transparent;
    border-top: 25px solid #F4B915;
    border-left: 25px solid #F4B915;
    border-bottom: 25px solid #F4B915;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    }
  .pacman:hover{
    border-right: 25px solid #F4B915;
  }
    * {box-sizing: border-box;}
  #searchform {
    display: block;
    margin-left: auto;
    margin-right:0.5rem;
    position: relative;
    margin-top: auto;
    width: 300px;
    height: 42px;
  
  }
  #searchinput {
    height: 42px;
    width: 0;
    padding: 0 42px 0 15px;
    border: none;
    border-bottom: 2px solid transparent;
    outline: none;
    background: transparent;
    transition: .4s cubic-bezier(0, 0.8, 0, 1);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    color:rgba(255,255,240,0.7);
    font:tahoma;
  
   
  }
  #searchinput:focus {
    width: 300px;
    z-index: 1;
    border-bottom: 2px solid #F9F0DA;
  }
  #searchbutton {
    background: #683B4D;
    border: none;
    height: 42px;
    width: 42px;
    position: absolute;
    top: 0;
    right: 0;
  }
  #searchbutton:before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
    color: #F9F0DA;
  }