@import url(https://fonts.googleapis.com/css2?family=Lobster&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,400;1,100;1,300&display=swap);

body {
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffab0f+0,ef6c0e+15,dd410d+30,ef171b+47,ef0e42+58,bc0b64+69,87047c+83,3a0563+100 */
  background: #ffab0f; /* Old browsers */
  background: -moz-linear-gradient(left,  #ffab0f 0%, #ef6c0e 15%, #dd410d 30%, #ef171b 47%, #ef0e42 58%, #bc0b64 69%, #87047c 83%, #3a0563 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #ffab0f 0%,#ef6c0e 15%,#dd410d 30%,#ef171b 47%,#ef0e42 58%,#bc0b64 69%,#87047c 83%,#3a0563 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #ffab0f 0%,#ef6c0e 15%,#dd410d 30%,#ef171b 47%,#ef0e42 58%,#bc0b64 69%,#87047c 83%,#3a0563 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffab0f', endColorstr='#3a0563',GradientType=1 ); /* IE6-9 */
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
} 

a{
  text-decoration:none;
}
p{
  margin:0;
}