::-webkit-input-placeholder { color:#000; font-family: Raleway ExtraLight;}
::-moz-placeholder { color:#000; font-family: Raleway ExtraLight;}
:-ms-input-placeholder { color:#000; font-family: Raleway ExtraLight;}
:-moz-placeholder { color:#000; font-family: Raleway ExtraLight;}

.mainform{
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    margin-top: 20px;
    animation: colAnim 100s infinite;
  }
@keyframes colAnim {   
  0%{
    background-color: rgb(127, 221, 166);
  } 
  
  10%{
    background-color: rgb(56, 175, 106);
  }  
  20%{
    background-color: rgb(165, 54, 180);
  } 
  30%{
    background-color: rgb(107, 62, 202);
  } 
  40%{
    background-color: rgb(56, 175, 139);
  } 
  50%{
    background-color: rgb(9, 155, 192);
  }  
  60%{
    background-color: rgb(165, 54, 180);
  } 
  70% {     
    background-color: rgb(9, 155, 192);   
  } 
  80%{
    background-color: rgb(165, 54, 180);
  } 
  90%{
    background-color: rgb(56, 175, 139);
  } 
  100%{
    background-color: rgb(127, 221, 166);
  } 
}
.persform{
    position:relative;
    display: inline-flex;
    width: 50%;
    height: auto;
    float:left;
    justify-items: center;
    align-items: center;
    align-content: center;
    vertical-align: middle;
  }
  .examForm{
    position:relative;
    display: inline-flex;
    width: 50%;
    height: auto;
    justify-items: center;
    align-items: center;
    align-content: center;
    vertical-align: middle;
  }
.icons{
    display: flex;
    width: 100%;
    height: auto;
    justify-items: center;
    align-items: center;
    align-content: center;
    vertical-align: middle;
    margin-top: 30px;
  }
#icon01{
    position: relative;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
  }
.desc01{
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-size: 1.2rem;
    text-align: right;
    
  }
#icon02{
    position: relative;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
  
  }
.fio{
    font-size: 1.2rem;
    border-top: none;
    border-left: none;
    border-right: none;
    background: transparent;
    border-bottom: 2px solid #F9F0DA;
    outline: none;
    margin-left: 3rem;
  }
  .subButton{
    display: flex;
    width: 100%;
    height:auto;
    padding-bottom: 1rem;
  }
  .ok{
    position: relative;
    background: rgb(255, 255, 255);
    border: none;
    height: 60px;
    width: 140px;
    font-size: 1rem;
    border-radius: 8%;
    font-family: Raleway;
    margin-left: auto;
    margin-right: auto;
  }
  .form01{
    position: relative;
    display: block;
    width: 100%;
    height: auto;
  }
  .anketaSelect{
    margin-left:1rem;
    margin-top:0.5rem;
    font-family: Raleway ExtraLight;
    font-size:1.3rem;
    border:none;
    border-radius:3%;
  }
  .sepDiv{
    margin-top:1rem;
    text-align:center;
    display:block;
    width:auto;
    height:auto;
  }
  .anketaP{
    font-family: Raleway;
    font-weight:300;
    font-size:1.4rem;
    color:white;
  }
 
  table {
    font-family:Raleway ExtraLight;
    font-size: 1.2rem;
    border-collapse: collapse;
    text-align: center;
    }
    th, td:first-child {
    background: rgb(54,54,54);;
    color: white;
    padding: 10px 20px;
    }
    th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
    }
    td {
    background: rgb(114, 113, 113);;
    }
    th:first-child, td:first-child {
    text-align: left;
    }
    #tableDiv{
    position: relative;
    width: 100%;
    height: auto;
    display: none;
    }
    