.keepCalm{
    display:flex;
    width:100%;
    min-height:8rem;
    text-align:center;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    color: #eee;
    font-family: lobster regular;
    font-size: 7vw;
    display: flex;
    font-size: 2.5rem;

}
.vid{
    display:flex;
    width:100%;
    height: 25rem;
    text-align:center;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    object-fit: cover;
    pointer-events: none;
}